.bracketContainer {
    margin: 0 auto;
    width: 93%;
    text-align: center;
}
.bracketPageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.bracketGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 93%;
    column-gap: 5%;
    row-gap: 5%;
    margin-bottom: 25vh;
}
.bracketArticles{
    display: flex;
    grid-column: 1;
    box-shadow:5px 5px 50px  grey;
    height: 30vh;
}
.bracketArticlesViews {
    display: flex;
    max-width: 20vw;
}
.bracketArticlesViews img{
    width: 100%;
    object-fit: contain;
}
.bracketSpacing {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
}
.bracketTitle {
    width: 50%;
}
.bracketQuantityFunction {
    display: flex;
}
.bracketMenu {
    grid-row: 1;
    grid-column: 2;
    height: 100%;
    width: 100%;
}
.bracketTotal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    grid-row: 1;
}
.bracketResume {
    
    width: 80%;
}
.bracketResume div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bracketMoney{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.bracketResume:first-of-type {
    overflow-y: scroll;
    height: 30%;
}
