.shopNavContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.shopNavFilter{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    list-style: none;
}