.productItem {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(50vh, 60vh);
    column-gap: 1%;
    object-fit: contain;
}
.itemImgWrap {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}
.productItem img{
    width: 100%;
    object-fit: cover;
}
.details {
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.detailsinfos {
    text-overflow: ellipsis;
}
.detailsName {
    font-size: 1vw;
}
.brand {
    font-size: 1vw;
    font-weight: 300;
}
.gender {
    font-size: 0.8vw;
    font-weight: 300;
}
.shopItemLink input{
    max-width: 100%;
}