#topnav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 8vh;
}
#navLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navLogo img{
    height: 13vh;
    margin: 0 auto;
}

#topnav ul {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topnav  ul a {
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    font-size: 1vw;
    color: black;
    font-weight: 200;
    transition: all ease-in-out 0.3s;
}

.nav-icons {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icons img{
    width: 2vw;
    cursor: pointer;
}