#topnav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 8vh;
}
#navLogo {
    height: 11vh;
    margin: 0 auto;
}

#topnav ul {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topnav li {
    list-style: none;
    font-size: 1vw;
    font-weight: 200;
}

.nav-icons {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icons img{
    width: 2vw;
    cursor: pointer;
}
.nav-icons img:first-of-type{
    transform: rotate(-45deg);
}