.viewsContainer {
    margin: 0 auto;
    width: 93%;
}
.viewsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(55vh, 55vh);
    column-gap: 1%;
    object-fit: contain;
}
.shopItemContainer {
    display: block;
    margin-bottom: 5vh;
}
.shopItemImg {
    width: 100%;
    display: flex;
    overflow: hidden;
    max-height: 80%;
}
.shopItemImg img{
    width: 100%;
    object-fit: cover;
    
}
.shopDetails {
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.shopInfos {
    display: flex;
    width: 95%;
    text-align: left;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.shopItemOverview input{
    max-width: 100%;
}
.price {
    font-size: 1.2vw;
}
