.viewsContainer {
    margin: 0 auto;
    width: 93%;
    overflow: hidden;
}
.viewsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1%;
}
.shopItemContainer {
    display: block;
    width: 100%;
}
.shopItemImg {
    height: 80%;
    display: flex;
}
.shopItemImg img{
    width: 100%;
    object-fit: cover;
}
.shopDetails {
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.shopInfos {
    display: flex;
    width: 95%;
    text-align: left;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.shopItemOverview input{
    max-width: 100%;
}
